
img{
  width: 100%;
}
a{
  text-decoration: none !important;
}
.p-70{
  padding-top: 70px;
}
body{
  font-family: "Alegreya";
  background-color: #1c1e21;
  color: #fff;
}
/* //////// */

.header {
  background-color: #616264;
  position: relative;
  top: 15px;
  left: 0;
  right: 0;
  border-radius: 5px;
  z-index: 999999;
}
.header h1{
  position: relative;
  top: 7px;
  font-size: 20px;
  font-weight: 700;
  text-transform: uppercase;
}
.header .hr{
  width: 55px;
}
.header .text-primary{
  color: #30e3ca !important;
}
.header .navbar .navbar-nav>li>a {
  color: #E4E6EB ;
  font-size: 15px;
  margin: 0 8px;
}
.header .navbar .navbar-nav>li>a:hover{
  color: #30e3ca;
}
.header .navbar-light .navbar-nav .active>.nav-link {
  color: #E4E6EB ;
}
.header .navbar-light .navbar-nav .active>.nav-link:hover {
  color: #30e3ca;
}

.navbar-brand{
  color: #E4E6EB !important;
}
h1{
  color: #30e3ca;

}

.titlePage {
  margin-top: 70PX;

}

.form-control{
  margin-bottom: 10px;
}
.card{
  background-color: #555;

  color: #fff;
}
.card-body{
  background-color: #555;

  color: #fff;
}
input::placeholder{
  color: #cccccc;
  font-size: 15px;
}

.table{
  color: #fff;
  background-color: #343a40;

}

.table td, .table th {
  border-top: 1px solid #454d55;
}
.p-img{
  padding: 0px;
  height: auto;
}
.table_image{
  width: 50px;
}

/* login */


.login-wrapper {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
 .form {
  position: relative;
  width: 100%;
  max-width: 380px;
  padding: 80px 40px 40px;
  background: rgba(255,255,255, 0.08);
  border-radius: 10px;
  color: #fff;
  box-shadow: 0 15px 25px rgba(0,0,0,0.5);
}

 .form .img_login {
  position: absolute;
  top: -50px;
  left: calc(50% - 50px);
  width: 100px;
  background: rgba(255,255,255, 0.8);
  border-radius: 50%;
}
 .form h2 {
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 2rem;
  color: #ff652f;
}
 .form .input-group {
  position: relative;
}
 .form .input-group input {
  width: 100%;
  padding: 10px 0;
  font-size: 1rem;
  letter-spacing: 1px;
  margin-bottom: 30px;
  border: none;
  border-bottom: 1px solid #fff;
  outline: none;
  background-color: transparent;
  color: inherit;
}
 .form .input-group label {
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px 0;
  font-size: 1rem;
  pointer-events: none;
  transition: .3s ease-out;
}
.login-wrapper .form .input-group input:focus + label,
 .login-wrapper .form .input-group input:valid + label {
  transform: translateY(-18px);
  color: #ff652f;
  font-size: .8rem;
}
 .submit-btn {
  display: block;
  margin-left: auto;
  border: none;
  outline: none;
  background: #ff652f;
  font-size: 1rem;
  letter-spacing: 1px;
  padding: 10px 20px;
  border-radius: 5px;
  cursor: pointer;
}


.adminPage .forgot-pw {
  color: #fff;

}

.profile_admin img {

  width: 100px;
  background: rgba(255,255,255, 0.8);
  border-radius: 50%;
  margin-bottom: 10px;
}
.profile_admin .admin_name{
  color: #ff652f;
}


#forgot-pw {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  height: 0;
  z-index: 1;
  background-color: #2f2e2e ;


  opacity: 0;
  transition: 0.6s;
}
#forgot-pw:target {
  height: 100%;
  opacity: 1;
}
.close {
  position: absolute;
  right: 1.5rem;
  top: 0.5rem;
  font-size: 2rem;
  font-weight: 900;
  text-decoration: none;
  color: inherit;
} 

